@import "mixins";

$pinkShade1: #f857a6;
$pinkShade2: #ff5858;

body {
	// background-color: $red;
	margin: 0;
	@include linear-gradient(90deg, $pinkShade1 10%, $pinkShade2 90%);
}


@font-face {
    font-family: Cheri;
    src: url(../fonts/CHERI___.ttf);
}

@font-face {
    font-family: CheriOutline;
    src: url(../fonts/CHERL___.ttf);
}

header {
	font-family : CheriOutline;
	text-align: center;
	background-color: pink;
	display: inline-block;
	width: 100%;
}

main {
	margin: 10px;
	form {	
		margin-top: 10px;
		font-family: Cheri;
		@include cssCenterX("absolute", true);
		@include mediaMinWidth(800) {
			width: 800px;
		}
		@include mediaMaxWidth(799) {
			width: 100%;
		}
			
		& {
			> div, > textarea {
				@include marginY(10px);
			}
		}
		
		#candygramMessage {
			& > input {
				height: 50px;
			}
		}
		
		textarea {

			max-width: 184px;
			width: 184px;
			height: 135px;
			max-height: 135px;
			min-height :135px;
		}
		
		input {
			max-width: 184px;
			width: 184px;				
		}
		
		
		
		input[type=submit], 
		input[type=email], 
		input[type=text],
		input[type=tel] {
			font-family: Cheri;
		}
		
		
	
	}
}

