@import "mixins";

body {
	background-color: red;
	margin: 0;
}

@font-face {
    font-family: Cheri;
    src: url(../fonts/CHERI___.ttf);
}

@font-face {
    font-family: CheriOutline;
    src: url(../fonts/CHERL___.ttf);
}

header {
	font-family : CheriOutline;
	text-align: center;
	background-color: pink;
	display: inline-block;
	width: 100%;
}

main {
	margin: 10px;
	form {	
		margin-top: 10px;
		font-family: Cheri;
		@include cssCenterX("absolute", true);
		@include mediaMinWidth(800) {
			width: 800px;
		}
		@include mediaMaxWidth(699) {
			width: 100%;
		}
			
		& > div {
			@include marginY(10px);
		}
		
		input[type=submit], 
		input[type=email], 
		input[type=text],
		input[type=tel] {

			font-family: Cheri;
		}
	
	}
}
