@import "mixins";

body {
	background-color: red;
	margin: 0;
}

@font-face {
    font-family: Cheri;
    src: url(../fonts/CHERI___.ttf);
}

@font-face {
    font-family: CheriOutline;
    src: url(../fonts/CHERL___.ttf);
}

header {
	font-family : CheriOutline;
	text-align: center;
	background-color: pink;
	display: inline-block;
	width: 100%;
}

main {
	margin: 10px;
	
	form {
		font-family: CheriOutline;
	}
	
}
